.container {
  margin: 0.7rem 0;
  padding: 0.7rem;
  background-color: burlywood;
  .heading {
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;

    .icon-container {
      float: right;
      .icon {
        height: 1rem;
        width: 1rem;
      }

      .edit-icon {
        margin: 0 0.7rem;
      }
    }
  }

  .desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }
}
