<app-header></app-header>
<div class="container">
  <div class="heading-container">
    <span>
      <img class="person-icon" src="assets/person.svg" />
      <h1 class="heading">Personal Boards</h1>
    </span>
    <button class="add-board-btn" (click)="createBoard()">
      <img class="add-icon" src="assets/add_icon.png" />
      Add another board
    </button>
  </div>
  <div class="boards">
    <ng-container *ngFor="let board of boards; let i = index">
      <board
        [id]="board.id"
        [ngStyle]="{ backgroundColor: board.color }"
        cdkDropList
        [cdkDropListData]="i"
        [cdkDropListConnectedTo]="getConnectedLists(board.id)"
        (cdkDropListDropped)="dropCard($event)"
        (addCardEvent)="addCardHandler($event)"
        (deleteCard)="deleteCardHandler($event)"
        (changeBoardDetailsEvent)="changeBoardDetailsHandler($event)"
        (deleteBoardEvent)="deleteBoardHandler($event)"
        (changeCardEvent)="changeCardHandler($event)"
        [board]="board"
      ></board>
    </ng-container>
  </div>
</div>
